version: 2.1
commands: # a reusable command with parameters
  greeting:
    description: "description for the command"
    parameters:
      to:
        description: "this is the to description"
        default: "world"
        type: string
    steps:
      - run: echo "Hello <<parameters.to>>"

jobs:
  mjob:
    docker:
      - image: cimg/base:stable
        auth:
          username: mydockerhub-user
          password: $DOCKERHUB_PASSWORD  # context / project UI env-var reference
    steps:
      - greeting:
          to: "my_name"
         
workflows:
  my-workflow:
    jobs:
      - mjob
